[2013-04-12 00:34] majin22 opened #4 "changes for the jquery plugin"
1. add the override css to the plugin files, increase the version by 0.0.1 and add a changelog what it is for and how to use it
2. create a demo and guide on how to use the override css to create mobile labels (you an cite a mobile label link like http://devm2.nutritionix.com/item/hIm0sAgB9fjoq36cZHNW [^] as an example) (maybe another demo page even with just or 2 example)

[2013-05-04 18:37] majin22 opened #11 "fix the generate.html file"
fix the generate.html file

[2015-01-31 06:18] majin22 opened #37 "Remove decimal place from the nutrition fact panel when it ends in ".0""

[2015-01-31 06:48] #37 closed

[2015-04-21 08:56] majin22 opened #38 "changes on the decimal places for the serving unit quantity textbox"
- [ ] If item serving qty is 1.58, display 1.58 in the qty box (up to 2 decimals only)
- [ ] if item serving qty is 1.5 display 1.5 (do not display 1.50, only display second decimal if it is not zero)

[2015-04-21 09:21] #38 closed

[2015-04-21 09:21] majin22 commented on #38
already a feature

[2015-06-07 15:35] mdg357 opened #39 "Divide by zero issue (NaN) for some daily values"
It is possible that calculating the daily values may lead to a "NaN" being displayed to the user.

For exampe, if dailyValueSodium == 0, then the following code will produce a "NaN" on screen:

[code]

[2016-01-17 04:45] majin22 opened #44 "css issue with labels where the item name is long"
@genesis23rd I found this today by accident

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo-long-item-name.html

there is a js error `Uncaught Error: Syntax error, unrecognized expression: # test4 .name.inline` but I think this css line might be linked to it https://github.com/nutritionix/nutrition-label/blob/master/nutritionLabel.css#L67-L70

can you check this out

thanks

[2016-01-17 15:45] majin22 opened #45 "back button on the mobile demo is breaking the page"
http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo-mobile.html

[2016-01-18 03:44] genesis23rd commented on #44
This was a js issue. Fixed via https://github.com/nutritionix/nutrition-label/commit/f9f4e4cd6211025c75491df06beddb3b0d35d555

[2016-01-18 07:49] majin22 commented on #39
@mdg357 I am very sorry I missed this commit. I will review it and merge it later

also tagging @mattsilv to keep him informed

[2016-01-18 11:48] #44 closed

[2016-01-18 11:48] majin22 commented on #44
verified fixed

[2016-01-21 12:08] majin22 commented on #45
@genesis23rd already fixed this based on my current tests

[2016-01-21 12:08] #45 closed

[2016-01-21 12:09] #39 closed

[2016-01-24 23:19] Pzykoh opened #49 "Value becomes "NaN" when the Qty is changed ... Still "NaN' when changed back ..."
@majin22

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo.html#test8

http://youtu.be/zPR8o6Xp9JM?hd=1

[2016-01-26 06:19] majin22 opened #50 "change the default width and make the changes on the demo pages too"
http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo.html#test1

![screenshot-dev2 nutritionix com 2016-01-26 07-54-07](https://cloud.githubusercontent.com/assets/7455410/12568644/6f02d920-c402-11e5-9536-4195965450a5.png)

The word **facts** is too close to the border.

[2016-01-26 08:18] majin22 commented on #50
fixed, will be uploading soon

[2016-01-26 08:18] #50 closed

[2016-01-26 16:11] majin22 commented on #49
fixed

[2016-01-26 16:11] #49 closed

[2016-04-30 16:16] majin22 opened #51 "[Medium] Add a way to fire google analytics event when changing the quantities"
allow a feature to fire this when the arrows are changed or the value on the texbox is changed

related task https://github.com/mattsilvllc/NewSiteDesign/issues/477

[2016-04-30 22:08] majin22 commented on #51
when using this feature, the page needs to have the google analytics code first https://developers.google.com/analytics/devguides/collection/analyticsjs/#the_javascript_tracking_snippet

[code]

then the settings that you can change are:

* `allowGoogleAnalyticsEventLog` (bool)
* `gooleAnalyticsFunctionName` (text)
* `textGoogleAnalyticsEventCategory` (text)
* `textGoogleAnalyticsEventActionUpArro

[2016-05-01 21:10] majin22 commented on #51
to edit later

[2016-05-03 21:15] #51 closed

[2016-05-20 22:35] majin22 opened #53 "Bug on the previous value when the user entered an invalid value"
reported by https://github.com/pzykoh

​http://dev2.nutritionix.com/boston-market/menu/special-diets/premium?allergens=eggs,fish,gluten,milk,peanuts,soy,tree_nuts,wheat​

​- Click the more info of Rotisserie Chicken - Half Chicken​,
The default serving size is 10.1oz, when you change the decimal value into a letter (ex: 10.a), then click anywhere on the label, instead of the value returning to 10.

[2016-05-24 12:51] #53 closed

[2016-07-29 14:35] tslater opened #55 "Option to output to canvas (or image)"
Is there a way to output to canvas or an image?

[2016-11-24 01:26] majin22 opened #56 "change <b> to <strong> for WCAG 2.0 compliance"

[2016-11-24 15:02] #56 closed

[2016-11-26 23:33] majin22 opened #57 "change <i> to <em> for WCAG 2.0 compliance"

[2016-11-27 21:25] #57 closed

[2017-01-04 13:27] rigobcastro opened #58 "ReferenceError: x is not defined"
Hi, I have this problem when I'm trying to use it.

![captura de pantalla 2017-01-04 a las 8 27 02 a m](https://cloud.githubusercontent.com/assets/1006483/21643672/9e79f62a-d257-11e6-93db-3c704d9e3839.png)

My code

`<div id="test"></div>`
`$('#test').nutritionLabel();`

Thanks for your support!

[2017-01-11 19:57] majin22 commented on #58
@rigobcastro sorry I missed this as I didn't an email notification of this issue. I'll try and reply asap

[2017-01-11 19:58] majin22 commented on #55
@tslater currently, we don't support that feature. I am very sorry for the very late reply as I didn't get a notification of this issue

[2017-01-11 19:59] #55 closed

[2017-01-11 20:02] majin22 opened #59 "add new fields to the plugin"
related to https://github.com/mattsilvllc/Nutritionix-Yii/issues/2524

update the plugin to support the new fields mentioned here https://github.com/mattsilvllc/Nutritionix-Yii/wiki/New-Nutrition-Fact-Attributes-added-in-2017

[2017-01-11 20:12] majin22 opened #60 "create an html mockup of the new label design"
related to https://github.com/mattsilvllc/Nutritionix-Yii/issues/2524

[2017-01-11 20:14] majin22 opened #61 "add an option for the user to choose to show the legacy label or the 2018 label"
default setting is it will show the legacy label

related to https://github.com/mattsilvllc/Nutritionix-Yii/issues/2524

currently, this will show a blank label when the setting `showLegacyVersion` is set to `true` (default is `false`)

[2017-01-11 20:39] majin22 commented on #58
@rigobcastro I can't really be sure of what's the problem as that is really the most basic use of the plugin

did you include the jquery library that is needed by the plugin?

it is best to try the not minified version `nutritionLabel.js` so I can see on what exact line the error occurred

thanks

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo.html

[2017-01-12 01:09] Yurko-Fedoriv commented on #59
@majin22 please ping me when done, so I can make needed adjustments here https://github.com/mattsilvllc/NewSiteDesign/issues/1302

[2017-01-13 02:00] genesis23rd commented on #60
Closed via https://github.com/mattsilvllc/Nutritionix-Yii/commit/1659bde3ceba6640f380203f63b8661ebe08137a

[2017-01-13 02:00] #60 closed

[2017-01-14 23:58] majin22 commented on #59
@mattsilv do we still need to have a `unit quantity textbox` that will change the data of the label when the value there is updated?

[2017-01-16 15:38] mattsilv commented on #59
@majin22 Yes, that will still be the same input box and that same value still appears on the new label, just in a slightly different layout

[2017-01-21 07:19] Yurko-Fedoriv commented on #59
@majin22 FYI here is a new template @genesis23rd developed http://dev2.nutritionix.com/html/label/v3/nutrition-label.html

[2017-01-21 07:21] majin22 commented on #59
@Yurko-Fedoriv I am starting to work on this. there were just other tasks that I needed to prioritize. thanks

[2017-01-21 10:57] majin22 opened #62 "improving the code of the library in preparation for version 7 changes"
when I assessed the needed changes for version 7, i found that it will probably complicate the code and make it hard to read and edit in the future

this is the attempt to prevent that problem after the version 7 codes are in place as the function was coded before without this kind of major change in plan

the major change in version 7 is to add a feature to show the new version of the label (2018

[2017-01-22 22:58] majin22 opened #63 "create a wiki to note all the difference between the legacy and 2018 label"

[2017-01-22 22:59] majin22 commented on #62
bugs that are fixed while working on this task:

* fixed a missing `</span>` on the sodium div
 - fixed a bug on the fiber value where if the result of the formula `[ daily fiber value * (calorie intake / 2000) ]` is zero (eg. there was an error in the input where the daily fiber value is set to zero), it will result to `division by zero`. this possible error is caught on all other instances where

[2017-01-22 23:48] #62 closed

[2017-01-22 23:48] #61 closed

[2017-01-29 02:05] #58 closed

[2017-02-18 21:17] majin22 commented on #59
@mattsilv am I correct to assume that `2/3` will be the textbox https://github.com/mattsilvllc/Nutritionix-Yii/wiki/New-Nutrition-Fact-Attributes-added-in-2017?

thanks

[2017-02-19 03:51] majin22 commented on #59
@genesis23rd I modified the template so they will have a pattern so I can use 1 function to render most elements http://dev2.nutritionix.com/html/label/v3/nutrition-label.html. thanks

[2017-02-19 09:43] majin22 commented on #59
## suggestion 1

@mattsilv and @genesis23rd I suggest we change the design at the bottom to be like the legacy label as currently it is cramped http://www.nutritionix.com/html/label/v3/nutrition-label.html

the 2018 label here have a different format than the one on the wiki https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm385663.htm#images

w

[2017-02-19 10:37] majin22 commented on #59
## question 2

@mattsilv I am not sure on how to calculate the percent value for added sugar as I didn't see it's daily value here https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm064928.htm

any advice?

thanks

[2017-02-19 20:09] majin22 commented on #59
## question 3

am I correct to assume that I will use the same rounding rule for `added sugar` and `sugar`?

thanks

[2017-02-20 12:49] majin22 commented on #59
## question 4

@mattsilv on the 2018 version, is it normal that we won't have `menu item` or `modifier name`?

also, `fat calories` or `calories from fat` seems to be omitted, is this correct https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm385663.htm#images?

thanks

[2017-02-20 13:15] majin22 commented on #59
@genesis23rd can you improve the design of the 2018 label.

after you pulled the latest file, compare the pages `http://localhost/mattsilv/nutrition-label/demo/demo.html` and `http://localhost/mattsilv/nutrition-label/demo/demo-2018.html` (similar data to the `demo.html` version so you can use this to compare the legacy and 2018 label versions). Just change the path with your local version

you ne

[2017-02-20 14:47] genesis23rd commented on #59
@majin22 I'm done with style changes.

[2017-02-20 16:32] majin22 commented on #59
@genesis23rd thanks

@mattsilv I will need feedback from you on my queries before I can proceed on this task.

Thanks

[2017-02-21 13:43] majin22 commented on #59
## question 5

@mattsilv here is the current look of the 2018 version compared to the legacy version. Please let us know if you want to change the style of the 2018 version especially the width and the this one https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-280907585

Thanks

![label_legacy](https://cloud.githubusercontent.com/assets/271582/23167267/acd054a6-f87e-11e6-9272-8

[2017-02-21 15:23] mattsilv commented on #59
@majin22 let's remove this table at the bottom for now, as I do not believe that is required
![add new fields to the plugin issue 59 nutritionix nutrition-label 2017-02-21 10-23-04](https://cloud.githubusercontent.com/assets/156176/23171197/d3722774-f81f-11e6-9b28-e54d83c9e565.png)

[2017-02-24 00:39] majin22 commented on #59
@mattsilv noted. I also want to follow these:

1. question 1 https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-280875739

2. suggestion 1 (your feedback on this suggestion) https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-280907585

3. question 2 https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-280910314

4. question 3 https://github.co

[2017-02-28 14:44] mattsilv commented on #59
@majin22

1.

I am not following this question.. Which textbox and what is "2/3" related to?

2.  Agree

3.  % value added sugar appears to be based on 100g added sugar per day.  Will confirm with Paige.

4.  Correct, same rounding rule for sugar and added sugar.

5.  We will keep the menu item and modifer name in the label for our since it is necessary for our interfaces to describe what the item

[2017-03-01 03:57] majin22 commented on #59
@mattsilv about `2/3`, i'll reply later when I can upload the demo page so I can demonstrate it better. Thanks

[2017-03-02 05:20] majin22 commented on #59
@genesis23rd can you change the bottom nutrition as Matt approved this suggestion http://dev2.nutritionix.com/html/label/v3/nutrition-label.html https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-280907585. thanks

[2017-03-02 06:12] majin22 commented on #59
@genesis23rd you also need to added a way to display the menu item and modifier names

thanks

[2017-03-02 13:12] genesis23rd commented on #59
@majin22 @mattsilv http://dev2.nutritionix.com/html/label/v3/nutrition-label.html
Let me know your thoughts.

[2017-03-02 14:11] majin22 commented on #59
@genesis23rd looks great. thanks

[2017-03-03 04:23] majin22 commented on #59
@mattsilv @Yurko-Fedoriv and @genesis23rd I just want to let you know that for the `textbox / arrows` and `data name`, I will apply the same logic that we are applying before https://github.com/nutritionix/nutrition-label/blob/master/index.html#L100-L123

[2017-03-03 15:15] mattsilv commented on #59
sounds good

[2017-03-08 19:27] majin22 opened #64 "the custom js function is not working"
found this while testing the latest changes for #59.

after checking the live site version, it seems that this has been broken for a while but because this is not something that is used a lot, no one was aware of this up to now http://www.nutritionix.com/html/label-jquery-plugin/demo/demo-analytics-custom-js-trigger.html

[2017-03-08 20:11] majin22 commented on #59
@genesis23rd I think there might be a few more bugs but can you fix the styles issue before I go back to fixing the bugs so I'll know if you need me to make some html code changes on the label plugin

here are the things that I need you to fix / change / improve

1. the css issues on the new version. I created demo checklist as we now have a lot of demo pages and hopefully this will reduce the clu

[2017-03-10 22:45] majin22 commented on #59
@mattsilv am I correct to assume that for Potassium and Vitamin D, the rounding rule that we use for Vitamin A, Vitamin C, Calcium and Iron are the same rounding rule we will apply to these 2 values?

thanks

[2017-03-13 01:04] genesis23rd opened #65 "Fix HTML markup"
![image](https://cloud.githubusercontent.com/assets/396910/23838025/0bec3516-07cc-11e7-94eb-78fa4cea4bb0.png)

[2017-03-13 19:26] mattsilv commented on #59
yes, let's use same rounding rule for potassium and vitamin D as vitamin
A/C  will update you if that changes.

[2017-03-14 02:21] genesis23rd opened #66 "Add special class to item name when there is no quantity textbox"
![image](https://cloud.githubusercontent.com/assets/396910/23882994/373819dc-089f-11e7-9d75-5e448b16f08d.png)

[2017-03-14 11:32] majin22 commented on #66
related to #59

[2017-03-14 11:33] majin22 commented on #65
related to #59

[2017-03-14 21:32] majin22 commented on #59
@genesis23rd I didn't realize that one of my last minute changes caused problems with this https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-283861980. I will fix it first before I work on the changes that you need. thanks

[2017-03-14 23:36] majin22 commented on #59
this bug should now be fixed https://github.com/nutritionix/nutrition-label/issues/59#issuecomment-286567651

[2017-03-15 00:03] majin22 commented on #66
@genesis23rd the class is `nf-noQuantityTextbox`. I will pass task #59 again to you after I am done with all the changes. Thanks

[2017-03-15 00:03] #66 closed

[2017-03-19 01:56] majin22 commented on #65
@genesis23rd can you give me the needed html for this task

here is the html code for the first image

[code]

and here's the one for the second image
[code]

please take note that `serving size` should be in the same line see the legacy counterpart `/nutrition-label/demo/legacy-version/demo.html#test3`

message me if you think we need to discuss this via chat

thanks

[2017-03-21 17:48] majin22 commented on #65
@genesis23rd i just want to bump this request. thanks

[2017-03-22 00:34] genesis23rd commented on #65
@majin22 You can use the HTML code of the first image. The new label width is quite narrow to have the arrows, modifier and item name to be on the same line.

[2017-03-22 04:53] majin22 commented on #65
left @genesis23rd a message via chat for a request. thanks

[2017-03-22 11:54] genesis23rd commented on #65
@majin22

Replace this markup
[code]
With this
[code]

[2017-03-23 06:50] majin22 commented on #65
@genesis23rd please pull he latest code and check the demo file `/nutrition-label/demo/2018-version/demo.html` as we might need to make more html changes to cater to cases like:

* `/nutrition-label/demo/2018-version/demo-texbox-case1-a.html#test1`
* '/nutrition-label/demo/2018-version/demo-texbox-case1-a.html#test5'

thanks

[2017-03-23 10:24] majin22 commented on #64
this should now be fixed

[2017-03-23 10:24] #64 closed

[2017-03-24 14:29] genesis23rd commented on #65
@majin Please use this page for reference: http://dev2.nutritionix.com/html/label/v3/nutrition-label.html
Let me know if you have questions.

[2017-03-26 04:05] majin22 commented on #65
@genesis23rd when the item name has space between them, the style is broken http://dev2.nutritionix.com/html/label/v3/nutrition-label.html

I changed `Item/Ingedient Name` to `Item / Ingedient Name`

thanks

[2017-04-01 16:42] majin22 commented on #65
@genesis23rd this isn't a high priority task but I just want to put this back to your radar. thanks

[2017-04-03 05:41] genesis23rd commented on #65
@majin22 Done: http://dev2.nutritionix.com/html/label/v3/nutrition-label.html

[2017-04-17 14:54] majin22 commented on #65
@genesis23rd please correct me if I am wrong but you have removed the `inline` class on the latest version of the label? thanks

[2017-04-17 16:35] majin22 commented on #65
**note:** verified it with @genesis23rd via chat the the `inline` class is now removed on the latest version of the label.

[2017-04-23 07:57] majin22 commented on #65
@genesis23rd I believe I have fixed the html codes but I need you to work on the css codes.

I didn't merge the css files from the v3 label to the current one as I am not sure which codes to remove or change or retain. Can you check this and fix all that needs to be fixed

please open the file `nutrition-label/demo/demo.html` on your local (eg. on my local, the link is `http://localhost/mattsilv/n

[2017-04-24 12:42] genesis23rd commented on #65
@majin22 /nutrition-label/demo/2018-version/demo.html
Example 3 and 4: item name should be wrap by div.nf-item-name
[code]

[2017-04-24 13:11] genesis23rd commented on #65
@majin22
/nutrition-label/demo/2018-version/demo-texbox-case1-a.html
/nutrition-label/demo/2018-version/demo-texbox-case1-b.html
/nutrition-label/demo/2018-version/demo-texbox-computation-1.html
The first example should not have a "no-indent" class.

[2017-04-25 10:11] majin22 commented on #65
@genesis23rd can you pull the latest code and let me know if I need to make further changes. Hopefully I have fixed the `no-indent` issue on call applicable cases. thanks

[2017-04-25 12:33] genesis23rd commented on #65
@majin22 Looks good.

[2017-04-26 11:14] majin22 commented on #65
@genesis23rd can you check the labels on `/demo/2018-version/demo.html`:

1. the textbox seems to be a bit close to the elements on top of it

2. the down arrow seems to be a bit close to the elements below it

for `/demo/2018-version/demo-texbox-case1-a.htmll#test5` (similar cases are `/demo/2018-version/demo-texbox-case1-b.html#test5` and `/demo/2018-version/demo-texbox-computation-1.html#test4`

[2017-04-27 04:44] genesis23rd commented on #65
@majin I made some styles changes, can you try to check again? Thanks

[2017-04-27 06:35] majin22 commented on #65
@genesis23rd everything looks great. thanks.

[2017-04-27 06:35] #65 closed

[2017-04-29 21:13] majin22 commented on #59
@Yurko-Fedoriv the final release is currently being tested but I believe you can start trying it out https://github.com/mattsilvllc/Nutritionix-Yii/issues/2778

you only need to add on the config `'showLegacyVersion' : false` to switch to the 2018 version

the new fields are listed on the changelog https://github.com/nutritionix/nutrition-label/blob/master/changelog.txt

let me know if you have an

[2017-04-29 21:17] #59 closed

[2017-05-02 19:56] majin22 opened #67 "Serving size unit scrolls down along with the item name."
reported here https://github.com/mattsilvllc/Nutritionix-Yii/issues/2786#issuecomment-298492099

Not sure if this one is a bug.

`Serving size unit` scrolls down along with the item name.

http://dev2.nutritionix.com/label/item/217777
http://dev2.nutritionix.com/label_small/item/217777
http://dev2.nutritionix.com/label/ingredient/34868
http://dev2.nutritionix.com/label_small/ingredient/34868

Vide

[2017-05-03 08:04] majin22 commented on #67
@genesis23rd can you pull the latest changes and check the demo `demo/2018-version/task-67.html`. Can you modify the design so we can solve issues like this. I understand that it might be tricky as the current design is already complex so we can accommodate all types of label.

Let me know if I can be of assistance in any way.

Thanks

[2017-05-03 15:59] majin22 commented on #67
@genesis23rd about this, I'll also try if I can solve it using javascript. thanks

[2017-05-04 08:36] majin22 commented on #67
@genesis23rd I might have a solution for this. I'll take over this task for now. thanks

[2017-05-04 10:17] majin22 commented on #67
@genesis23rd please pull the latest code and check the demos below and focus on example 7 and 8. they are identical to the labels above
* `/demo/2018-version/demo-long-item-name.html`
* `/demo/legacy-version/demo-long-item-name.html`

you will see that I have fixed the scroll on the 2018 version but the scrolling isn't smooth and have extra texts showing at the bottom (compare it with the legacy v

[2017-05-23 12:40] Yurko-Fedoriv opened #68 "Regression: userFunctionNameOnQuantityChange can't be passed as function anymore"
Hello @majin22
Can you please tell why have you removed this feature which I added earlier: https://github.com/nutritionix/nutrition-label/commit/fcb344c885688be81fd19dfaa40fce7d30fd6c50#diff-9ce72bf5eb39b381c67a00ed3b790dd5R723

https://github.com/nutritionix/nutrition-label/commit/1519dcd360939cb0488866662286ce3f0e97e639#diff-9ce72bf5eb39b381c67a00ed3b790dd5R769

I use this feature in angular in

[2017-05-23 13:06] majin22 commented on #68
@Yurko-Fedoriv i came across this bug when working on the 2018 label version #64

I wasn't aware you made that change but it broke that feature when the label is used on a normal browser

feel free to make the change again and let me know when you're done so I can test it

thanks

[2017-05-23 17:05] Yurko-Fedoriv commented on #68
@majin22 please check out relevant PR https://github.com/nutritionix/nutrition-label/pull/69

[2017-05-23 22:33] majin22 commented on #68
reviewed and merged

[2017-05-23 22:33] #68 closed

[2017-05-26 21:48] Yurko-Fedoriv commented on #63
@majin22 Vitamin A and C are not shown on 2018 version. Is this an expected behavior?

[2017-05-26 23:58] majin22 commented on #63
@Yurko-Fedoriv yes, that's correct, here's more info on the new version https://github.com/mattsilvllc/Nutritionix-Yii/wiki/New-Nutrition-Fact-Attributes-added-in-2017. thanks

[2017-05-27 00:05] Yurko-Fedoriv commented on #63
@majin22 found this

In the early 1990’s, American diets lacked Vitamins A and C, but now Vitamins A and C deficiencies in the general population are rare. Manufacturers are still able to list these vitamins voluntarily.

thanks, this answers my question

[2017-05-30 03:05] genesis23rd commented on #67
@majin22 I just updated the js file. 32px height is what we need for long item name for 2018 version.

[2017-05-30 09:17] majin22 commented on #67
@genesis23rd thanks. I'll just set 2 different settings for the long names. one for the legacy and another one for the 2018 version.

thanks

[2017-05-30 17:02] #67 closed

[2017-05-30 17:04] majin22 commented on #68
@Yurko-Fedoriv a new version has been released and will be tested on dev2 asap https://github.com/nutritionix/nutrition-label/releases.

let me know if there are any issues

thanks

[2017-05-30 17:18] Yurko-Fedoriv commented on #68
@majin22 thank you

[2017-06-10 09:26] majin22 commented on #63
https://github.com/mattsilvllc/Nutritionix-Yii/wiki/Difference-Between-the-Legacy-and-the-2018-Label

[2017-06-10 09:26] #63 closed

[2017-06-15 09:33] majin22 opened #70 "set the poly and mono fat to be hidden by default"

[2017-06-15 10:09] #70 closed

[2017-06-27 20:05] JCapriotti opened #71 "Possible incorrect recommended daily intake values"
I am looking to use this plug-in and am learning the ins and outs of it.

If I understand how it works, I think the `dailyValueVitaminD` value of `400` is incorrect. I believe the 400 is coming from [this](https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm064928.htm) or a similar source.

However, 400 IU is equal to 10 mcg, according to [this](

[2017-06-28 05:27] majin22 commented on #71
noted and I will forward this to our nutritionist. thanks

[2017-06-28 13:02] JCapriotti commented on #71
@majin22 thanks. I didn't check other values but there could be similar issues with other vitamins/minerals that use IU for the FDA daily values.

[2017-06-28 19:12] PaigeEinstein commented on #71
@JCapriotti I'm the director of nutrition and am trying to look into this for you but need a bit more information. All of our Vitamin D values are in/based on IU - where are you seeing a default to mcg?

[2017-06-28 19:59] majin22 commented on #71
@JCapriotti what @PaigeEinstein is asking is more explanation on why you think the current default values are incorrect (based on your first comment) so if needed, we can adjust the values.

thanks

[2017-06-28 21:24] JCapriotti commented on #71
Hi @PaigeEinstein
Another way to look at it is the problem might be that the `unitVitaminD_base` is mcg, not IU (since, as you mentioned, the default value is in IU). It is a little hard to explain, but I can walk through what I'm seeing...

If I'm understanding the widget correctly, it expects the Vitamin D value passed in to be a % Daily Value (say, 1.22 from your [example](http://dev2.nutrition

[2017-06-29 13:44] PaigeEinstein commented on #71
@JCapriotti thank you for that detailed information! And thank you for bringing this issue to our attention. @majin22 we need to change the vitamin D unit of measure to IU, not mcg, in the widget. Percent daily value for Vitamin D is 400 IU, so corresponding values should be in IU. Thanks!

[2017-06-30 22:07] #71 closed

[2017-07-05 15:14] JCapriotti opened #72 "Option for not doing calculations"
I am wondering if there is a way to disable calculations done inside the widget (e.g. for % daily value), and instead only display values provided to the label widget? Or if not, would this be a useful feature?

We may have a need for this, so may work on it at some point.

Thanks,
Jason

[2017-07-08 11:46] majin22 commented on #72
@JCapriotti currently, we don't have that feature but you can simply hide the arrows and then add a small javascript code to prevent the changes on the textbox being triggered (I haven't tried it though) http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo.html#test17

good luck

[2017-07-09 18:25] #72 closed

[2017-07-15 11:23] majin22 opened #73 "minor bug - missing line under the label header"
for cases like this, the line is missing

![label-1](https://user-images.githubusercontent.com/271582/28239084-ca42dd5a-6995-11e7-8eec-f298e197ac37.png)

![label-2](https://user-images.githubusercontent.com/271582/28239083-ca180288-6995-11e7-8611-1089e244c069.png)

[2017-07-15 14:50] majin22 opened #74 "issue with the serving weight gram on the 2018 label"
later on, the demo file to demonstrate this will be on these links

* http://dev2.nutritionix.com/html/label-jquery-plugin/demo/2018-version/demo-serving-weight-gram.html
* http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-serving-weight-gram.html
* http://dev2.nutritionix.com/html/label-jquery-plugin/demo/2018-version/demo-serving-weight-gram-2.html
* http://dev2.nutri

[2017-07-16 18:38] #74 closed

[2017-07-16 18:45] #73 closed

[2017-07-26 17:13] Cgettys opened #75 "Vitamin D should display mcg to conform to 2018 standard"
Hello,

I work with @JCapriotti, and was looking at your nutrition label. I appreciate the fast response to #71 , and I hate to bother you guys again. However, I noticed a few things (some of which relate to issue #71) , and I thought you would want to be informed of them.
1. While the old daily value for Vitamin D was 400 IU ([source](https://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsR

[2017-07-26 20:29] majin22 commented on #75
noted and I will forward this to our nutritionist. thanks

[2017-07-26 20:44] Cgettys commented on #75
Also, a thought that I just had is that it may be an issue for Nutritionix.com as well, as if you are using the Nutritionix API internally, it gives % daily values.  So if you change the daily values, all of the old % daily values become incorrect.

[2017-07-26 20:45] majin22 commented on #75
tagging @mattsilv and @Yurko-Fedoriv to keep them in the loop of this conversation

[2017-07-26 21:33] PaigeEinstein commented on #75
Hi @Cgettys and thanks for reaching out! We are aware of the changes to the vitamins/minerals that will be taking place on the new nutrition facts label. To summarize them:

**Vitamin D:** new daily value is 20mcg (old value was 400IU). Companies must list mcg and %DV on the label

**Calcium:** new daily value is 1300mg (old value was 1000mg). Companies must list mg and % DV on the label

**Iron:*

[2017-07-29 20:20] majin22 commented on #75
@PaigeEinstein @mattsilv @Yurko-Fedoriv @Cgettys @JCapriotti here are the things that I did for the latest version based on my understanding of your conversation. please let me know if I missed something

1. changed the default unit for `vitamin D` from `IU` to `mcg`

2. added a new `daily potassium value` for the 2018 label with a default value of `4700`. this way, it don't affect the optional po

[2017-07-29 20:33] majin22 commented on #75
PS. I created 2 demo pages that uses random values for the attributes that you can use to verify that the computations are correct
* legacy demo http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-random-values.html
* 2018 demo http://dev2.nutritionix.com/html/label-jquery-plugin/demo/2018-version/demo-random-values.html

[2017-07-31 15:18] Cgettys commented on #75
Thank you so much for the quick turnaround! I did notice one very minor issue - Vitamin D should have a unit of micrograms (mcg), instead of milligrams (mg). I have made a pull request (#76) fixing this issue. Again, thank you for your great work and quick response, and it's been a pleasure working with you.

[2017-07-31 21:55] majin22 opened #77 "minor design issue on the legacy label --- changed to: new setting: legacyVersion"
see https://github.com/mattsilvllc/NewSiteDesign/issues/1521 (more details to follow later)

[2017-08-01 02:38] majin22 commented on #75
@Cgettys thanks for pointing this out. this is now fixed

[2017-08-01 02:38] #75 closed

[2017-08-04 09:36] majin22 opened #78 "change a couple of the default 2018 label value"
this is based on a separate task where Matt commented https://github.com/mattsilvllc/Nutritionix-Yii/issues/2863#issuecomment-319384588

the original idea was to base the label on `page 2` of https://www.fda.gov/downloads/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/UCM511964.pdf but that was changed and the default value wasn't updated

[2017-08-05 13:27] #78 closed

[2017-08-11 16:43] majin22 commented on #77
the final decision for cases like this is to implement a version feature (probably in the setting) so the old design and the new one can be used without any issue

there no final idea yet on how this will be implemented

[2017-08-19 08:58] majin22 commented on #77
**from @genesis23rd, posted on a private repo**

@majin22 After playing around with this issue, we need to update the serving markup with the following changes:

from: (**this will be for `legacyVersion: 1`**)
[code]
to:  (**this will be for `legacyVersion: 2`**)
[code]
![image](https://user-images.githubusercontent.com/396910/28861926-b9da2b5e-7795-11e7-9e79-c9d368f773fd.png)

Let's chat on gchat

[2017-08-19 09:47] majin22 commented on #77
the issue here is linked to the width of the label. I am just adding this info as I found out about it while running some tests

![legacy version demo page](https://user-images.githubusercontent.com/271582/29485568-6136f7a6-8506-11e7-87b7-9313b84ddabd.png)

[2017-08-19 09:48] majin22 commented on #77
@mattsilv do you the QAs to ran tests similar to this for the 2018 version in case we need to add a `version feature` to it too?

thanks

[2017-08-19 13:24] majin22 commented on #77
@genesis23rd can you pull the latest code and check out examples 2 and 4 on `http://localhost/mattsilv/nutrition-label/demo/legacy-version/demo-legacy-version-1-feature.html` because the design is off but I think the html code is correct. thanks

[2017-08-19 18:37] majin22 commented on #77
@genesis23rd in case you need to ran some css tests, you can change `nutritionLabel.css` and it should affect the `demo-legacy-version-1-feature.html` demo page. thanks

[2017-08-21 14:51] mattsilv commented on #77
anything specific for me to check on this?

[2017-08-22 16:04] majin22 commented on #77
@mattsilv not yet but I expect to finalize this soon. thanks

[2017-08-22 16:05] majin22 commented on #77
@mattsilv I am sorry, I thought this was for the image label. I have a question for you https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-323513251 because I found out that the issue is caused by wider labels https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-323513206

[2017-08-22 16:05] majin22 commented on #77
@genesis23rd I want to bump this task https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-323540376. thanks

[2017-08-23 04:25] genesis23rd commented on #77
@majin22
[code]
Please remove the "fl" class from this line:
[code]

[2017-08-24 00:42] majin22 commented on #77
@genesis23rd can you pull the latest file and check out the demo `http://localhost/mattsilv/nutrition-label/demo/legacy-version/demo-legacy-version-feature.html`

the `version 2` demo looks a bit weird compared to the other text (examples with `B` and `D`)

the demo is using the non minified css `nutritionLabel.css` so you can ran some test if you need to

let me know if I need to make some html c

[2017-08-24 12:05] genesis23rd commented on #77
@majin22 I did some margin and padding adjustments.

[2017-08-24 17:10] Pzykoh commented on #77
Found a bug when testing #2950

Some of the serving size text boxes are touching the black bar design on the label.

Here are some screenshots of the issue:

![image](https://user-images.githubusercontent.com/12953122/29678607-c55c9fea-8931-11e7-8f17-d9febe7da73d.png)

![image](https://user-images.githubusercontent.com/12953122/29678723-30f67e42-8932-11e7-8560-11ca6e740aa8.png)

[2017-08-25 00:06] majin22 commented on #77
@mattsilv please disregard my question https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-324074007

I was thinking about it and I believe I have a better solution of knowing if there is a similar issue for the 2018 version of the label

i just prefer to wait until this task is completed before I check it in case some of the changes here affects the 2018 version too (which might

[2017-08-25 02:00] ninogarcia commented on #77
Same issue with https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-324698028 but on mobile version.

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-mobile.html
Example 1

![1](https://user-images.githubusercontent.com/7455410/29696522-198c4832-897c-11e7-86f4-d454f60650c8.png)

[2017-08-25 15:28] majin22 opened #79 "long item name scroll feature isn't appearing on most browsers"
internal discussion started here https://github.com/mattsilvllc/NewSiteDesign/issues/1521#issuecomment-324675446

***

screenshot from @Yurko-Fedoriv

***

another reply from @Yurko-Fedoriv

***

from @pzykoh

[2017-08-25 18:04] Pzykoh commented on #77
I think some of the labels [here](http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-legacy-version-feature.html) can be improved in the design.

Here's the specific labels:

- http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-legacy-version-feature.html
- http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-legacy-ver

[2017-08-26 22:58] majin22 commented on #77
@Pzykoh can check the labels you are pointing out again. the reason why you might think they need improvement is because they don't have the setting `'legacyVersion' : 2`. the purpose of the demo is to show the difference of the labels when they have different settings

message me if you need some clarification.

thanks

[2017-08-27 06:47] Pzykoh commented on #77
@majin22

Got it. Thanks for the clarification.

[2017-08-27 23:21] majin22 commented on #77
@mattsilv @genesis23rd @Yurko-Fedoriv @Pzykoh and @ninogarcia I just want to let you know that this issue don't exist on the 2018 version (maybe a few minor css improvements but we can deal with that later if needed)

Here is an image of the resulting test page with the same data as the one here http://dev2.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo.html

![2018 version demo

[2017-08-28 06:19] Yurko-Fedoriv commented on #77
@majin22 not true, 2018 version has the same issue

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/2018-version/demo-long-item-name.html

![image](https://user-images.githubusercontent.com/1327761/29761490-fdc6b8c8-8bd1-11e7-9734-6af47f104031.png)

I think it's mostly specific to how mac renders default scrolls (it does not).

[2017-08-29 06:57] majin22 commented on #77
@Yurko-Fedoriv I am sorry for the confusion, I was referring to the design issue where some of the texts aren't displayed properly (see the internal discussion here https://github.com/mattsilvllc/NewSiteDesign/issues/1521#issuecomment-324690941) and not the scroll problem

the scroll problem is currently being investigated by @genesis23rd

but thanks for checking it oout

[2017-08-29 06:58] Yurko-Fedoriv commented on #77
@majin22 thanks for the clarification

[2017-09-14 07:10] majin22 opened #80 "improve how the label is read by screen readers"
for this one, we will use chromevox to test the changes https://chrome.google.com/webstore/detail/chromevox/kgejglhpjiefppelpmljglcjbhoiplfn?hl=en

internal discussion: https://github.com/mattsilvllc/Nutritionix-Yii/issues/2994

[2017-09-14 12:24] genesis23rd commented on #77
@majin22 @Pzykoh This https://github.com/nutritionix/nutrition-label/issues/77#issuecomment-324698028 is fixed

[2017-09-14 14:29] majin22 commented on #80
**from Leejay**

Hi Team,

For something like this, how should the screen reader read it?

![vol-label](https://user-images.githubusercontent.com/271582/30435173-b66a3356-999b-11e7-8498-914048acdcb7.png)

Currently chromevox is reading this as "74 percent Total Fat 48 g"

Should it be read as

"Total Fat 48 grams 74 percent daily value"

I can code it how ever we want it to be read by screen reade

[2017-09-14 15:10] majin22 commented on #77
passing this back to @genesis23rd after discussing some spacing issue

[2017-09-15 09:02] #77 closed

[2017-09-16 19:59] majin22 commented on #80
waiting for feedback on the latest changes

[2017-09-17 10:28] majin22 commented on #80
@mattsilv: the email thread for the feedback is **TabIndex on the labels**. Thanks

[2017-09-18 13:30] mattsilv commented on #80
@majin22 sorry i am not following what the question/action item for me is here?

[2017-09-18 14:23] majin22 commented on #80
discussed this with Matt via pm

[2017-09-19 08:53] majin22 opened #81 "improvement for the screen reader"
**not yet sure if this is easy to fix or if it is worth the time to fix it**

reported by https://github.com/Pzykoh on this internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/2950#issuecomment-330153164

Suggestion:,

http://dev2.nutritionix.com/html/label-jquery-plugin/demo/2018-version/demo.html#test2

![image](https://user-images.githubusercontent.com/12953122/30533273-11153372

[2017-09-20 08:57] #80 closed

[2017-09-20 09:56] majin22 opened #82 "The Serving Weight moves to the next line when the serving size is changed"
reported internally here https://github.com/mattsilvllc/NewSiteDesign/issues/1562

try the label here https://www.nutritionix.com/i/blains-farm-fleet/pistachio-nuts/552bc3df0ab300ad64cc0673

[2017-09-21 12:20] majin22 opened #83 "add the bootstrap sr-only class to the css"
[code]

[2017-09-21 15:46] #83 closed

[2017-09-29 17:18] majin22 commented on #79
@genesis23rd I did some research and this might help us solve the issue https://stackoverflow.com/questions/40262509/overflow-scrollbar-not-showing-on-100-height-div-in-firefox

you know css better than me so I'll leave it up to you to make the change

thanks

[2017-10-03 19:32] majin22 commented on #82
@genesis23rd can you review this as I think this is a limitation that we can't solve

the problem is when a decimal value is added on the `serving weight grams`, it increased the length of the text which is why the text is pushed down

it you keep changing the value (keep clicking the arrows) and when the `serving weight grams` has no decimal value, the text will be on the same line as the textbox

[2017-10-04 01:32] genesis23rd commented on #82
@majin22 Not a bug. Before it was only the Serving Weight that moves down which kinda looks odd. So we made a fix and combined the Serving Unit and Serving Weight into one wrapper div so it moves down together when text gets longer.

[2017-10-04 01:42] #82 closed

[2017-10-04 18:39] majin22 commented on #79
reopening this as QAs found that there are still some issues

[2017-10-04 19:57] majin22 opened #84 "fix the dist files image issue and restore the non minified version on the dist folder"

[2017-10-04 20:09] #84 closed

[2017-10-05 18:29] majin22 commented on #82
for documentation purposes https://www.youtube.com/watch?v=aIHKjcpcCe0&feature=youtu.be&hd=1 created by https://github.com/pzykoh

[2017-10-06 21:51] majin22 opened #85 "create a setting to allow users to customize the not applicable value"
currently, it is fixed to show `-` (dash)

the settings related to this are

[code]

[2017-10-09 06:45] majin22 commented on #85
fixed the bug on the latest release

[2017-10-09 06:45] #85 closed

[2018-01-16 01:32] majin22 opened #86 "new attribute - sugar alcohol"
related to https://github.com/mattsilvllc/Nutritionix-Yii/issues/3166

this should appear under sugar https://www.accessdata.fda.gov/scripts/InteractiveNutritionFactsLabel/factsheets/Sugar_Alcohols.pdf

the rounding rule will be the same as the `sugar` attribute

[2018-01-16 06:51] majin22 commented on #86
@Yurko-Fedoriv just letting you know of this latest release https://github.com/nutritionix/nutrition-label/releases/tag/v8.0.4

[2018-01-16 06:51] #86 closed

[2018-02-12 16:07] AndersDJohnson opened #87 "publish to npm with package.json"
Would you consider publishing this to npm for consumers from tools like Webpack? Should just need to add a `package.json` and maybe an `.npmignore` if you wish.

[2018-02-15 13:34] majin22 commented on #87
@Yurko-Fedoriv what do you think about this idea? thanks

[2018-02-15 14:15] Yurko-Fedoriv commented on #87
@majin22 this is modern thing to do. We potentially will benefit from it too.

[2018-02-15 14:16] majin22 commented on #87
noted. i'll add this to my todo list. this probably won't take too long once I know how to do it as we already published the plugin on bower. thanks

[2018-03-01 17:35] majin22 commented on #87
@AndersDJohnson here you go https://www.npmjs.com/package/nutrition-label-jquery-plugin. thanks

[2018-03-01 17:35] #87 closed

[2018-04-30 18:08] #4 closed

[2018-04-30 18:08] #11 closed

[2018-05-01 19:58] drdogbot7 opened #88 "Feature: additional voluntary nutrients"
It would be nice to have the option to add additional "voluntary" nutrients (Vitamin K, Magnesium, etc), that are allowed but not required on a label.

[2018-05-03 22:05] majin22 commented on #88
I will forward this to our team for approval but I don't think this is something that we can add for now. Thanks

[2018-05-05 18:45] majin22 commented on #88
@drdogbot7 I just want to let you know that even though this will be a nice feature, we can't spend time developing it. thanks

[2018-05-05 18:45] #88 closed

[2018-06-25 01:49] majin22 opened #90 "option to hide the % Daily Values"
It should be all of these values:

![taco bell - full nutrition information 2018-06-21 15-30-05 1](https://user-images.githubusercontent.com/271582/41809107-4abb3440-771a-11e8-88cf-a284ca3ba132.png)

[2018-06-26 05:42] majin22 opened #91 "update the demo and remove links to the outdated legacy pages"
minor improvement which I just realized is needed. won't take an hour to complete

cc @mattsilv to keep him informed

[2018-06-26 05:54] majin22 commented on #91
done

[2018-06-26 05:54] #91 closed

[2018-06-26 07:04] majin22 commented on #90
oh hold. waiting for a feedback on this private task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3308#issuecomment-400190593

[2018-07-02 13:03] majin22 commented on #90
reopened

our QA @Pzykoh pointed out that it is better if we automatically hide these texts too (internal link of the comment https://github.com/mattsilvllc/Nutritionix-Yii/issues/3308#issuecomment-401621592)

**legacy version**
![image](https://user-images.githubusercontent.com/12953122/42137065-75e7e044-7d98-11e8-8cb3-375a4876cc27.png)

**2018 version**
![image](https://user-images.githubusercon

[2018-07-03 06:19] chriseugenerodriguez opened #92 "angular / typescript support?"
anyone know how to implement this for angular or typescript

[2018-07-03 15:54] majin22 commented on #92
@Yurko-Fedoriv i'm tagging you in case you can help out here. thanks

[2018-07-03 16:02] majin22 opened #93 "when the fda rounding is enabled, round the 2018 version serving weight like how it is on the legacy version"
related internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3308#issuecomment-401912059

**2018 version**
![taco bell - full nutrition information 2018-07-02 15-40-44](https://user-images.githubusercontent.com/13874511/42183023-4c534a5e-7e0e-11e8-8b06-8ef6360f5da3.png)

***

**legacy version**
![taco bell full nutrition information](https://user-images.githubusercontent.com/271582/

[2018-07-03 16:39] chriseugenerodriguez commented on #92
i was able to install jquery in typescript project, and added project as a typing for it, but nothing outputs.

[2018-07-03 16:43] majin22 commented on #92
i am sorry but i have no experience with typescript so I can't help you out.

[2018-08-07 00:35] shravanipl opened #94 "Label issue"
Hi may I know how the label can be used in Javascript. I have cloned the files and added the script to HTML as well

[2018-08-09 01:38] majin22 commented on #94
you need to use https://jquery.com/ as this is a jquery plugin

[2018-08-09 01:38] #94 closed

[2018-08-09 08:04] shravanipl commented on #94
Ok thanks for the reply.

On Wed, Aug 8, 2018 at 8:38 PM Leejay Gajitos <notifications@github.com>
wrote:

[2018-08-09 18:14] chriseugenerodriguez commented on #92
NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

[2018-08-09 18:15] majin22 commented on #92
@Yurko-Fedoriv can you check this out in case you can help here. thanks

[2018-08-10 08:51] Yurko-Fedoriv commented on #92
@chriseugenerodriguez can you point to some boilerplate which is similar to your environment, so we better see what are your requirements

[2018-08-11 16:05] majin22 commented on #92
@chriseugenerodriguez just tagging you in case you didn't get the notice earlier because the task was closed. thanks

@Yurko-Fedoriv thanks for this

[2018-08-11 16:39] chriseugenerodriguez commented on #92
Its angular cli.

[2018-08-12 00:22] sdwarwick opened #95 "Demos use media=screen Printing label doesn't seem to work"
On Chrome,

[2018-08-12 00:25] sdwarwick opened #96 "Demos use media='screen' vs media='all' - printing labels from demo doesn't work"
all of the "demo" files use
`   <link rel='stylesheet' type='text/css' media='screen' href='../nutritionLabel-min.css'>`
to include the css.

This means that if someone tries to print a label, they only get the unformatted text.

Suggestion is to update all of the demo files to use `media='all'`

[2018-08-12 00:31] #95 closed

[2018-08-14 04:38] majin22 commented on #96
thanks for this suggestion. i'll add this to my todo list

cc @mattsilv

[2018-08-14 04:38] majin22 commented on #92
@Yurko-Fedoriv just bumping this. thanks

[2018-08-15 11:10] sdwarwick opened #98 "Horizontal layouts"
FDA specification calls out a number of horizontal formats. It would be nice to have those supported as well.

[2018-08-15 19:56] majin22 commented on #98
i am sorry but we don't have any plans on implementing something like this

cc @mattsilv in case he wants to consider this feature as a low priority task

[2018-08-15 19:56] #98 closed

[2018-08-15 20:01] sdwarwick commented on #98
I have forked this project and plan to continue development. I have merged the very helpful additions by @drdogbot7

[2018-08-15 20:05] majin22 commented on #98
thanks for this notice. i was too busy with other projects that I missed the forks. I will check them out later

[2018-08-18 19:58] majin22 commented on #92
@Yurko-Fedoriv just bumping this. thanks

[2018-08-20 23:36] majin22 commented on #92
@chriseugenerodriguez I am sorry that I forgot that @Yurko-Fedoriv was on vacation for a few more days.

can you post a snippet of your code and any console error so we can try and find out why this isn't working for you

thanks

[2018-08-26 14:56] #92 closed

[2018-08-31 14:45] majin22 opened #99 "add a feature for %DV for total sugars"
link to an internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3355#issuecomment-417101924

this will be hidden by default and the default daily value for sugar will be 100 (might changed in the future)

originally, this is only for the 2018 label but I decided to apply it to the legacy label too in case it will be needed in the future

[2018-08-31 14:51] majin22 opened #100 "add a feature so the % daily values can be hidden (visible by default)"
link to an internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3355#issuecomment-417101924

recent discussion for the change on the scope of this feature https://github.com/mattsilvllc/Nutritionix-Yii/issues/3355#issuecomment-419232979

[2018-09-09 07:14] majin22 commented on #100
@Yurko-Fedoriv I just want to let you know that a new version of the label plugin has been released. thanks

[2018-09-09 07:14] #100 closed

[2018-09-09 07:47] #96 closed

[2018-09-11 02:49] majin22 opened #101 "changes on the feature for the 2018 label - option to hide the % Daily Values"
this is a modification of task #90

for the 2018 label, we will only hide the daily values

![2018 version demo page 1](https://user-images.githubusercontent.com/271582/45335063-31d95b80-b5b0-11e8-841b-5326ed4e933d.png)

[2018-09-11 20:00] majin22 opened #102 "change the .toFixed function to something that's more reliable"
an excerpt from an internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3366#issuecomment-420363458

**from majin22**

[code]

***

**from Yurko-Fedoriv** https://github.com/mattsilvllc/Nutritionix-Yii/issues/3366#issuecomment-420392196

We should probably use some Math.round based implementation, for example the one from lodash:

https://github.com/lodash/lodash/blob/master/.

[2018-09-13 21:48] majin22 commented on #99
@Yurko-Fedoriv I just want to let you know of this recent change to the plugin. thanks

[2018-09-13 21:48] #99 closed

[2018-09-15 16:46] majin22 commented on #101
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2018-09-15 16:46] #101 closed

[2018-09-18 10:43] majin22 opened #103 "new feature for the sugar details on the 2018 label"
**related email thread:** Canadian Label (**internal use**)

to have a 2018 label feature where

this is to accommodate canadian labels

![unnamed](https://user-images.githubusercontent.com/271582/45682378-b6107d80-bb72-11e8-860e-1956f46dffb8.png)

[2018-09-22 02:55] majin22 commented on #103
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2018-09-22 02:55] #103 closed

[2018-09-22 16:38] majin22 commented on #103
@Yurko-Fedoriv I just want to let you know that a new version (version 8.0.12) has been published. thanks

[2018-09-22 23:13] majin22 commented on #93
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2018-09-22 23:13] #93 closed

[2018-09-25 22:26] majin22 opened #104 "changes the setting indentSugarAndRemoveBoldStyleFor2018Label so to set it true by default"
this is based on a recent internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3377#issuecomment-424427645. It seems that either the old 2018 design was a mistake or there is an update with the new 2018 label design

the current 2018 design has the `sugar` attribute to be indented and not bold

I am keeping the setting as it still allow the 2018 label to be more flexible

[2018-09-25 22:27] majin22 commented on #103
see this recent change related to this setting #104

[2018-09-25 22:56] majin22 commented on #104
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2018-09-25 22:56] #104 closed

[2018-10-11 19:29] sdwarwick opened #105 "Daily values used in this label system are not the same as the current standard on the FDA site"
your current code has the following:

[code]

the FDA table is very different:
( see https://www.regulations.gov/document?D=FDA-2012-N-1210-0875 )

[code]
and
[code]

This significantly impacts results.   Am I missing something?

[2018-10-14 21:06] majin22 commented on #105
@sdwarwick for the code, that may be a fork as it is different from what we have. this is the current version of the code https://github.com/nutritionix/nutrition-label/blob/db4c6934b782128cdacc16f1b6dab5b9ed539986/nutritionLabel.js#L175-L187

for the daily values, this is what we are using https://www.fda.gov/ICECI/Inspections/InspectionGuides/ucm114098.htm

you can simply change the daily values

[2018-10-14 21:06] #105 closed

[2019-02-21 12:46] majin22 opened #106 "create a new version for uk labels"
related to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3511

the approved image will look like this

![web 1920 1](https://user-images.githubusercontent.com/396910/53058134-e925b700-34ec-11e9-9a2a-e8cfd28a2eea.png)

[2019-03-03 07:19] majin22 opened #107 "add a feature on the uk version where the serving unit quantity can be changed"
requested on this internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3511#issuecomment-467080964

this is similar to the feature how it works on the legacy and 2018 version but if the value is changed, the values on the per 100g column should stay the same

[2019-03-08 11:25] majin22 commented on #106
**from the changelog**

[code]

[2019-03-08 11:26] majin22 commented on #106
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-09 00:46] #106 closed

[2019-03-12 14:10] majin22 opened #108 "for the uk label, if the serving name is empty, have it default to "Serving""
linked to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3511#issuecomment-471629827

[2019-03-12 20:16] majin22 commented on #108
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-12 20:16] #108 closed

[2019-03-15 17:40] majin22 opened #109 "add a div at the top for the item name on the uk version (should be hidden by default)"
related internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3511#issuecomment-473325347

[2019-03-21 12:13] majin22 opened #110 "improvement on the uk label to accommodate different serving weight name length"
changes made by @genesis23rd on an internal task https://github.com/mattsilvllc/Nutritionix-Yii/commit/33c6e40a21131e9f09901e7d5129a45184324772

[2019-03-21 17:40] majin22 commented on #110
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-21 17:40] #110 closed

[2019-03-21 22:18] majin22 commented on #109
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-21 22:18] #109 closed

[2019-03-31 04:37] majin22 opened #111 "issue on the uk label with the item name"
the line height needs to be improved as there are bugs like this at the moment

![line-height-uk-label](https://user-images.githubusercontent.com/271582/55284870-b2777200-53b1-11e9-9d46-9c6e21f2b34c.png)

[2019-03-31 05:34] majin22 commented on #111
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-31 05:34] #111 closed

[2019-03-31 06:05] majin22 opened #112 "make the remaining hard-coded texts customizable by adding them on the settings"
upon inspection of the code, i found a few values that are still hard coded

the new setting values are
[code]

and also to fix an issue with the 2018 label where `Amount per serving` is hard-coded instead of using the setting `textAmountPerServing`

on the image below, only `Per` and `Data not available` are not yet included in the setting
![Taco Bell Nutrition Calculator   Calories  Nutrition Fa

[2019-03-31 18:55] majin22 commented on #112
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-03-31 18:55] #112 closed

[2019-04-06 08:33] majin22 opened #113 "move the tooltip div inside the main div"
move `<div class="naTooltip">' + $this.settings.textDataNotAvailable + '</div>` inside the main div

this design change is requested by @genesis23rd who is the one who designed the label

this will affect all version of the labels

[2019-04-06 09:27] majin22 commented on #113
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-04-06 09:27] #113 closed

[2019-05-14 14:56] majin22 opened #114 "minor change on the uk label to change the default value Kj to kj"
requested by Paige via email

[2019-05-14 21:45] majin22 commented on #114
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-05-14 21:45] #114 closed

[2019-05-29 15:08] majin22 commented on #107
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-05-29 15:08] #107 closed

[2019-06-12 15:09] macsrok opened #115 "Potassium and Calcium not displaying correct results"
I'm developing a feature for our rails app that uses this plug-in. I have noticed no matter what value is passed into `valuePotassium_2018` and  `valueCalcium` the rendered output doesn't match. I have provided my configuration hash below, as well as an image showing the rendered label.

`{"valueServingWeightGrams":186.99,"valueCalories":383.77,"valueTotalFat":30.17,"valueSatFat":11.33,"valueTrans

[2019-06-13 14:16] majin22 commented on #115
@macsrok the value is the percentage which is hidden on your label https://github.com/nutritionix/nutrition-label/wiki/Difference-Between-the-Legacy-and-the-2018-Label

what you are seeing is the base value that is computed based on the percentage of calcium and potassium https://github.com/nutritionix/nutrition-label/wiki/How-the-Percent-Daily-Value-is-Computed

hope this clear things up

thanks

[2019-06-13 14:16] #115 closed

[2019-06-13 15:20] macsrok commented on #115
So `valueCalcium` is a % of daily value and not the value like everything else?

[2019-06-13 18:43] majin22 commented on #115
yes but it is not the only one. this also applies to vit a, vit c, vit d, calcium, iron and potassium (for 2018)

[2019-06-13 18:43] majin22 commented on #115
check the demo http://dev2.nutritionix.com/html/label-jquery-plugin/demo/demo.html

[2019-11-01 14:07] lightson opened #116 "Analytics tracking fails with gtag.js implementation."
Using the latest google analytics gtag.js code leads to event tracking failing. One would assume updating the function name to gtag (as below) would work, but no events are caught.

[code]

example tracking code below...

[code]

[2019-11-05 21:05] majin22 commented on #116
@lightson just letting you know that I am not sure if I can work on this in the near future given the other tasks that I need to work on first.

[2019-11-06 01:48] lightson commented on #116
No worries it's not a particularly big issue, just wanted to let you know.

[2019-11-15 23:56] majin22 opened #117 "add a new nutrition label for the 2018 version - caffeine"
link to the internal discussion https://github.com/mattsilvllc/Nutritionix-Yii/issues/3881

[2019-11-16 08:59] majin22 commented on #117
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2019-11-16 08:59] #117 closed

[2020-01-11 15:43] majin22 opened #118 "add a setting to allow the serving weight and unit value to be hidden on the legacy and 2018 version"
linked to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3902

as I posted on this internal task comment https://github.com/mattsilvllc/Nutritionix-Yii/issues/3902#issuecomment-573327072

[2020-01-11 22:37] majin22 commented on #118
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-01-11 22:37] #118 closed

[2020-01-13 17:07] matrix4583 opened #119 "how to save as image?"
I am new to programming so my logic is kinda bad. So how do you save the nutrition label as an image? Is it in the documentation?

[2020-01-13 21:16] majin22 commented on #119
you will need to create a completely different program to make this happen. this is not in the scope of this plugin. thanks

[2020-01-13 21:16] #119 closed

[2020-01-13 22:02] matrix4583 commented on #119
Got it. Thanks.

[2020-01-18 08:31] majin22 opened #120 "modification to the 2018 label for the nutrition values - vitamin d, calcium, iron and potassium"
linked to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3918#issuecomment-575676313

currently, these 4 values expect the supplied value to be the `% daily value` then just computes the base value

the change is to add a new setting where these values can now accept the base value and then compute the `% daily value` like how it is on the other values, this will allow mor

[2020-01-21 13:22] majin22 commented on #120
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-01-21 13:22] #120 closed

[2020-02-03 20:04] majin22 opened #121 "more changes to the 2018 label"
link to the internal request https://github.com/mattsilvllc/Nutritionix-Yii/issues/3921

***
***

**NOTE 1:** the `colon` can be removed on the setting `textServingSize`
**NOTE 2:** this might be easily solved by an override css `float: right` so a fix for this will be put on hold for a while

***
***

[2020-02-05 02:24] majin22 opened #122 "2018 label bug - there is a serving unit quantity value on the label that should not be there"
found this while working on #121

one one of the demo (will be added after task #121 is done), there is an extra serving unit quantity value when this code is used

[code]

![2018 Version Demo Page](https://user-images.githubusercontent.com/271582/73805406-90385700-4801-11ea-86ec-807bd1dc1185.png)

cc @Yurko-Fedoriv to keep him informed

[2020-02-05 02:39] majin22 commented on #121
for the first bug, a sample code is below (it will be added on the demo later). for the extra value, check out the bug #122

[code]

[2020-02-05 03:38] majin22 commented on #122
this is not really a bug as the test value is meant to be `Serving size:` so if this was used normally, it will show as `Serving size: 9.3`

so the problem is how we used this on the legacy desktop calculator of Nutritionix so we need different solution for this but this is not really a bug

cc @Yurko-Fedoriv to keep him informed

[2020-02-05 03:38] #122 closed

[2020-02-05 09:23] majin22 opened #123 "add a new setting for the 2018 label to allow to only show the textServingSize"
related to #122 where the aim is to show the label with the `9.3` (`valueServingUnitQuantity`)

[code]

[2020-02-06 19:36] majin22 commented on #121
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-02-06 19:36] #123 closed

[2020-02-06 19:36] #121 closed

[2020-02-06 19:58] majin22 opened #124 "check if there are issues on the bars on the legacy label"
while working on #121 and #123, I noticed that there are cases where the bars are a lot thicker and found that this is because there are cases where the bottom bar or top bar (thin line) are present when they shouldn't be

when I find the time, I need to check if this bug is also present on the legacy label

cc @mattsilv to keep him informed

[2020-02-16 06:34] majin22 opened #125 "add an option to remove the bold formatting on the caffeine attribute (2018 label)"
related internal comment https://github.com/mattsilvllc/Nutritionix-Yii/issues/3921#issuecomment-585835218

[2020-02-16 17:56] majin22 commented on #125
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-02-16 17:56] #125 closed

[2020-03-15 00:52] majin22 commented on #124
using this debug css code, it shows that this is an issue on the legacy admin
[code]

there should be no 2 colors on top of each other as that's the reason why there are cases where the black links are thicker than normal

![Legacy Version Demo Page](https://user-images.githubusercontent.com/271582/76693065-406b6c00-669a-11ea-9440-70d48e0c5996.png)

[2020-03-15 18:00] majin22 commented on #124
the fix now solves unexpected double bars and at the same time, js and css fix are put into place so that the labels will still look the same

![Legacy Version Demo Page (1)](https://user-images.githubusercontent.com/271582/76703623-d2f92300-670d-11ea-8f90-5d7297b6c39c.png)

@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-03-15 18:01] #124 closed

[2020-04-23 20:40] majin22 opened #126 "apply eslint to the plugin"
similar to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3269

cc @mattsilv

[2020-04-24 10:59] majin22 commented on #126
@Yurko-Fedoriv just letting you know that there is a minor issue with using let as I need to directly declate it inside a block or the yuicompressor will throw an issue ` let declaration not directly within block`

cc @mattsilv

[2020-04-24 11:02] majin22 commented on #126
@Yurko-Fedoriv and @mattsilv not a priority but I might look into other options aside from https://github.com/yui/yuicompressor as the project seems to be abandoned already and the latest version was released last 2013. just a note.

[2020-04-25 19:17] majin22 commented on #126
@mattsilv and @Yurko-Fedoriv I am done with the coding changes but I prefer to have the QAs test it on a test demo page http://dev2.nutritionix.com/html/label-jquery-plugin-eslint/demo/demo.html before I push the changes to the repo and merge it with our legacy files (https://github.com/mattsilvllc/Nutritionix-Yii/issues/3981)

@Yurko-Fedoriv I modified the eslint config file a bit for this repo t

[2020-04-28 11:01] majin22 commented on #126
@Yurko-Fedoriv a new release have been published. I haven't published it on npm yet as it seems after I updated nodejs on windows that npm got corrupted so I am trying to install it again. thanks

[2020-04-28 11:25] #126 closed

[2020-04-29 15:50] majin22 opened #127 "check if the remaining var can be changed into let"
subtask of #126

the only reason I didn't work on this before is it might take long to ran tests and trace if this change can be done. but aside from this single var, all the other vars are gone (except those that's meant to be global variables).

cc @mattsilv to keep him in the loop

[2020-05-04 14:37] majin22 opened #128 "add a span on the 2018 label serving size area"
link to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3921#issuecomment-623432706

<span class="nf-pr">8.1235 pie (80.83g)</span>? Thanks!

[2020-05-05 14:10] majin22 commented on #128
closing this as this seems to be something that can't be fixed on the label repo

[2020-05-05 14:10] #128 closed

[2020-05-08 11:17] majin22 opened #129 "make the code compliant with jquery 3.5.1"
replace .hover and .delegate to make the code compliant with jquery. there may be other code that needs to be updated but these are the ones revealed when using the jquery migrate tool

link to the internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/2175

[2020-05-09 17:37] majin22 commented on #129
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-05-09 17:37] #129 closed

[2020-05-09 17:46] majin22 commented on #129
forgot to add:

the affected codes are to change .hover and .delegate which are now depreciated on the current version of jquery.

the affected areas are:
 - the quantity textbox (changes should still trigger the label change like before)
 - the arrows for the textbox  (changes should still trigger the label change like before)
 - not applicable hover tooltip

thanks

[2020-05-12 17:43] majin22 opened #130 "issue on the mobile demo page after changing the jquery version to 3.5.1"
error is `Uncaught TypeError: Cannot read property 'concat' of undefined`

first detected on this internal testing task https://github.com/mattsilvllc/Nutritionix-Yii/issues/3987#issuecomment-627209943

[2020-06-27 12:08] #130 closed

[2020-09-14 21:28] musabbirsaeed opened #131 "FDA-style nutrition label python"
Hello,
Can I get FDA-style nutrition label through python.

I am making a website using python, flask and HTML, CSS where I want to put FDA-style nutrition label. Can you please help me out. Thanks.

[2020-09-18 18:21] majin22 commented on #131
sorry but that is out of the scope of this project

[2020-09-18 18:21] #131 closed

[2020-09-26 17:33] majin22 opened #132 "minor css issue on the demo page (related to the use of the latest version of jqm)"
@genesis23rd this was reported by @Pzykoh on this internal task https://github.com/mattsilvllc/Nutritionix-Yii/issues/4044#issuecomment-699506458

this seems to be an old issue that we missed as it is already present on the version on the live site http://www.nutritionix.com/html/label-jquery-plugin/demo/legacy-version/demo-mobile.html

(modified the link to point to the public demo page)

[2020-09-29 17:41] majin22 commented on #102
@Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-09-29 17:41] #102 closed

[2020-10-03 20:30] majin22 commented on #132
@genesis23rd and @Yurko-Fedoriv I just want to let you know that a new version has been published. thanks

[2020-10-03 20:30] #132 closed

[2020-12-11 03:08] majin22 commented on #79
just a note that this issue is still present on firefox based on our QAs test

[2021-01-21 18:14] meallogixreid opened #133 "JQuery not defined Error"
When attempting to import the library into my react app I get a jQuery not defined error. I have not changed any of the plugin code.

<img width="1457" alt="Screen Shot 2021-01-21 at 10 03 51 AM" src="https://user-images.githubusercontent.com/74558028/105393687-8c6d3280-5c14-11eb-88ba-771a933eb86c.png">

<img width="1792" alt="Screen Shot 2021-01-21 at 10 04 13 AM" src="https://user-images.githubu

[2021-03-28 19:05] majin22 commented on #133
@meallogixreid sorry for the late reply. I am not familiar with reactJs but the only explanation I can think of is that you didn't include jquery or your code doesn't recognize the jquery that you included. thanks

[2021-03-28 19:06] #133 closed

[2021-07-16 09:02] majin22 commented on #127
already moved to https://edgenetteam.atlassian.net/browse/WELL-517

[2021-07-16 09:02] #127 closed

[2021-10-17 08:33] majin22 opened #134 "more changes related to the accessibility of the labels - task 1"
linked to the internal task https://edgenetteam.atlassian.net/browse/WELL-949?focusedCommentId=288709

1. the daily values are now read by the screen reader properly
2. the nutrition value is read first before the daily value (changes on how the order the code appears on the label)
3. added a screen-reader only value `textDailyValues` to be read after the daily value percentage to make it more cle

[2021-10-17 15:18] majin22 commented on #134
@Yurko-Fedoriv I just want to let you know that a new version of the jquery label plugin has been published. Thanks.

[2021-10-17 19:10] majin22 opened #135 "more changes related to the accessibility of the labels - task 2"
linked to the internal task https://edgenetteam.atlassian.net/browse/WELL-949?focusedCommentId=288709

When using the tab to navigate the label, after the `amount per serving`, the `calories from fat` is first selected in the sequence rather than `calories`.

[2021-10-18 02:50] #135 closed

[2021-10-18 02:56] genesis23rd commented on #135
@majin22 I have fixed this.

[2021-10-18 18:20] #134 closed

[2022-02-04 03:48] majin22 opened #136 "design changes on the 2018 label"
link to internal task https://edgenetteam.atlassian.net/browse/WELL-978

[2022-03-23 12:26] majin22 commented on #136
@Yurko-Fedoriv I just want to let you know that a new version of the jquery label plugin has been published. Thanks.

[2022-06-18 10:15] rebelmusic opened #137 "Should declare fallback default font"
At line 51 of NutritionLabel.scss, at least a fallback of sans-serif should be be added

`font-family: 'Archivo Black' sans-serif;`

[2022-06-19 01:15] majin22 commented on #137
@genesis23rd can you check this as you're more familiar with the css

[2022-09-20 03:55] devinformatics opened #138 "Duplicate selector in nutritionLabel.scss at two places"
In NutritionLabel.scss there are two places where we have duplicate selectors. The two selectors are .nutritionLabel .servingSizeText and  .uk_nf .setter a.

.nutritionLabel .servingSizeText is declaring two times with one change in the next declared .nutritionLabel .servingSizeText
.nutritionLabel .servingSizeText{padding-right:.3em;margin-top:.3em}
.nutritionLabel .servingSizeText{display:inline

[2022-09-20 13:29] majin22 commented on #138
we'll look at this but can't promise we can work on it soon as we have more pressing tasks atm

@genesis23rd tagging you as this is a design issue

thanks